.result-box {
    background: white;
    padding: 10px;
    border-radius: 10px;  
    -webkit-border-radius: 10px;  
    -moz-border-radius: 10px; 
}

ul {
    list-style-type: none;
}

.results li {
    cursor: pointer;
    border-radius: 4px;
}
.results li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.results li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}